{% extends "_layouts/cp" %}

{% set title = "Entry Count"|t('entry-count') %}

{% set entries = craft.entryCount.countedEntries.all() %}


{% block content %}

    {% if entries|length %}
        <table class="data fullwidth">
            <thead>
                <tr>
                    <th>{{ "Entry"|t('entry-count') }}</th>
                    <th>{{ "URL"|t('entry-count') }}</th>
                    <th>{{ "Count"|t('entry-count') }}</th>
                    <th>{{ "First Count"|t('entry-count') }}</th>
                    <th>{{ "Last Count"|t('entry-count') }}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                {% set count = craft.entryCount.getCount(entry.id) %}
                <tr>
                    <td>
                        <a href="{{ url('entries/' ~ entry.section.handle ~ '/' ~ entry.id ~ '-' ~ entry.slug) }}">
                            {{ entry.title }}
                        </a>
                    </td>
                    <td>
                        {% if entry.url %}
                            <a href="{{ entry.url }}" class="go" target="_blank">
                                {{ entry.uri }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {{ count.count }}
                    </td>
                    <td>
                        {{ count.dateCreated }}
                    </td>
                    <td>
                        {{ count.dateUpdated }}
                    </td>
                    <td>
                        <a href="{{ actionUrl('entry-count/entry-count/reset', { entryId: entry.id }) }}" class="delete icon"></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
        <form action="" method="post">
            <input type="hidden" name="action" value="entry-count/entry-count/reset-all">
            {{ csrfInput() }}

            <input type="submit" value="Reset All" class="btn submit">
        </form>
    {% else %}
        {{ "No entries counted"|t('entry-count') }}
    {% endif %}

{% endblock %}
